In [1]:
import pandas as pd
#### Goal 1
goal1= pd.read_csv('F:/Pykih/SDG Data/Goal 1.csv')

In [2]:
goal1.head()

,States_Uts,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households"
0,Target,10.95,100.0,100.00,100.0,0.00
1,India,21.92,28.7,84.75,36.4,10.39
2,A & N Islands,1.00,5.7,92.46,1.4,0.97
3,Andhra Pradesh,9.20,74.6,87.77,17.4,15.34
4,Arunachal Pradesh,34.67,58.3,85.56,20.5,0.23

In [3]:
goal1.shape

(38, 6)

In [4]:
goal1.insert(1, 'SDG', 1, allow_duplicates=False)

In [5]:
goal1.head()

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households"
0,Target,1,10.95,100.0,100.00,100.0,0.00
1,India,1,21.92,28.7,84.75,36.4,10.39
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23

In [6]:
goal1.shape

(38, 7)

In [7]:
### Goal 2
goal2 = pd.read_csv('F:/Pykih/SDG Data/Goal 2.csv')

In [8]:
goal2.head()

,States_Uts,"Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),"Rice, wheat and coarse cereals produced annually per unit area (Kg/Ha)"
0,Target,1.29,21.03,23.57,5018.44
1,India,1.01,38.40,50.30,2509.22
2,A & N Islands,0.49,23.30,61.40,2211.38
3,Andhra Pradesh,0.77,31.40,52.90,3497.17
4,Arunachal Pradesh,0.92,29.40,33.80,1539.80

In [9]:
goal2.shape

(38, 5)

In [10]:
goal2.insert(1, 'SDG', 2, allow_duplicates=False)

In [11]:
goal2.head()

,States_Uts,SDG,"Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),"Rice, wheat and coarse cereals produced annually per unit area (Kg/Ha)"
0,Target,2,1.29,21.03,23.57,5018.44
1,India,2,1.01,38.40,50.30,2509.22
2,A & N Islands,2,0.49,23.30,61.40,2211.38
3,Andhra Pradesh,2,0.77,31.40,52.90,3497.17
4,Arunachal Pradesh,2,0.92,29.40,33.80,1539.80

In [12]:
## Goal1 + Goal2
goal12 = goal1.append(goal2, sort=False)

In [13]:
goal12.head(100)

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households","Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),"Rice, wheat and coarse cereals produced annually per unit area (Kg/Ha)"
0,Target,1,10.95,100.0,100.00,100.0,0.00,NaN,NaN,NaN,NaN
1,India,1,21.92,28.7,84.75,36.4,10.39,NaN,NaN,NaN,NaN
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97,NaN,NaN,NaN,NaN
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34,NaN,NaN,NaN,NaN
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23,NaN,NaN,NaN,NaN
5,Assam,1,31.98,10.4,87.10,66.1,3.42,NaN,NaN,NaN,NaN
6,Bihar,1,33.74,12.3,75.63,53.9,3.13,NaN,NaN,NaN,NaN
7,Chandigarh,1,21.81,21.3,NaN,13.7,19.70,NaN,NaN,NaN,NaN
8,Chhattisgarh,1,39.93,68.5,77.25,66.2,15.77,NaN,NaN,NaN,NaN
9,D & N Haveli,1,39.31,30.8,NaN,2.6,24.94,NaN,NaN,NaN,NaN
10,Daman and Diu,1,9.86,17.0,NaN,19.3,0.67,NaN,NaN,NaN,NaN
11,Delhi,1,9.91,16.4,NaN,7.9,54.52,NaN,NaN,NaN,NaN
12,Goa,1,5.09,15.9,98.15,7.4,1.62,NaN,NaN,NaN,NaN
13,Gujarat,1,16.63,23.1,80.92,8.9,14.06,NaN,NaN,NaN,NaN
14,Haryana,1,11.16,12.2,80.16,13.5,14.52,NaN,NaN,NaN,NaN
15,Himachal Pradesh,1,8.06,25.8,91.12,13.1,9.37,NaN,NaN,NaN,NaN
16,Jammu and Kashmir,1,10.35,4.2,88.79,54.0,12.33,NaN,NaN,NaN,NaN
17,Jharkhand,1,36.96,13.3,70.34,41.6,4.38,NaN,NaN,NaN,NaN
18,Karnataka,1,20.91,28.1,84.26,19.9,8.45,NaN,NaN,NaN,NaN
19,Kerala,1,7.05,47.7,87.98,20.4,3.40,NaN,NaN,NaN,NaN
20,Lakshadweep,1,2.77,3.4,56.13,17.5,0.00,NaN,NaN,NaN,NaN
21,Madhya Pradesh,1,31.65,17.7,79.68,61.1,21.42,NaN,NaN,NaN,NaN
22,Maharashtra,1,17.35,15.0,86.40,8.7,17.18,NaN,NaN,NaN,NaN
23,Manipur,1,36.89,3.6,96.46,26.2,2.95,NaN,NaN,NaN,NaN
24,Meghalaya,1,11.87,34.6,97.30,28.0,4.24,NaN,NaN,NaN,NaN
25,Mizoram,1,20.40,45.4,99.94,47.5,0.62,NaN,NaN,NaN,NaN
26,Nagaland,1,18.88,6.1,98.91,29.7,3.03,NaN,NaN,NaN,NaN
27,Odisha,1,32.59,47.7,84.76,72.6,7.11,NaN,NaN,NaN,NaN
28,Puducherry,1,9.69,32.8,83.78,21.4,3.97,NaN,NaN,NaN,NaN
29,Punjab,1,8.26,21.2,81.63,19.1,6.59,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8,Chhattisgarh,2,NaN,NaN,NaN,NaN,NaN,0.93,37.6,41.5,1495.17
9,D & N Haveli,2,NaN,NaN,NaN,NaN,NaN,1.22,41.7,67.9,2331.88
10,Daman and Diu,2,NaN,NaN,NaN,NaN,NaN,0.58,23.4,NaN,1150.00
11,Delhi,2,NaN,NaN,NaN,NaN,NaN,1.29,32.3,45.1,3833.03
12,Goa,2,NaN,NaN,NaN,NaN,NaN,1.06,20.1,26.7,2783.18
13,Gujarat,2,NaN,NaN,NaN,NaN,NaN,1.09,38.5,51.3,2377.52
14,Haryana,2,NaN,NaN,NaN,NaN,NaN,0.93,34.0,55.0,3821.83
15,Himachal Pradesh,2,NaN,NaN,NaN,NaN,NaN,1.05,26.3,50.2,2064.31
16,Jammu and Kashmir,2,NaN,NaN,NaN,NaN,NaN,0.94,27.4,38.1,1966.10
17,Jharkhand,2,NaN,NaN,NaN,NaN,NaN,1.13,45.3,62.6,1773.77
18,Karnataka,2,NaN,NaN,NaN,NaN,NaN,1.10,36.2,45.4,2157.83
19,Kerala,2,NaN,NaN,NaN,NaN,NaN,0.74,19.7,22.6,2788.79
20,Lakshadweep,2,NaN,NaN,NaN,NaN,NaN,0.82,27.0,36.5,0.00
21,Madhya Pradesh,2,NaN,NaN,NaN,NaN,NaN,0.96,42.0,54.6,2614.26
22,Maharashtra,2,NaN,NaN,NaN,NaN,NaN,1.08,34.4,49.3,1069.60
23,Manipur,2,NaN,NaN,NaN,NaN,NaN,1.36,28.9,26.0,1485.10
24,Meghalaya,2,NaN,NaN,NaN,NaN,NaN,1.04,43.8,53.1,2668.92
25,Mizoram,2,NaN,NaN,NaN,NaN,NaN,1.06,28.0,24.5,1640.22
26,Nagaland,2,NaN,NaN,NaN,NaN,NaN,1.14,28.6,28.9,1634.46
27,Odisha,2,NaN,NaN,NaN,NaN,NaN,0.93,34.1,47.6,1485.15
28,Puducherry,2,NaN,NaN,NaN,NaN,NaN,0.86,23.7,26.0,2693.25
29,Punjab,2,NaN,NaN,NaN,NaN,NaN,0.95,25.7,42.0,4297.73
30,Rajasthan,2,NaN,NaN,NaN,NaN,NaN,0.94,39.1,46.6,2119.85
31,Sikkim,2,NaN,NaN,NaN,NaN,NaN,1.04,29.6,23.6,1507.87
32,Tamil Nadu,2,NaN,NaN,NaN,NaN,NaN,0.80,27.1,44.4,3788.49
33,Telangana,2,NaN,NaN,NaN,NaN,NaN,0.81,28.1,49.8,2879.65
34,Tripura,2,NaN,NaN,NaN,NaN,NaN,0.94,24.3,54.4,2921.10
35,Uttar Pradesh,2,NaN,NaN,NaN,NaN,NaN,1.11,46.3,51.0,2404.86
36,Uttarakhand,2,NaN,NaN,NaN,NaN,NaN,1.03,33.5,46.5,2185.58
37,West Bengal,2,NaN,NaN,NaN,NaN,NaN,0.90,32.5,53.6,2904.91

In [14]:
# Goal 3
goal3 = pd.read_csv('F:/Pykih/SDG Data/Goal 3.csv')

In [15]:
goal3.head()

,States_Uts,Maternal Mortality Ratio,"Under-five mortality rate per 1,000 live births","Children aged 12-23 months fully immunized (BCG, Measles and three doses of Pentavalent vaccine) (%)",Annual notification of Tuberculosis cases per 1 lakh population,"Number of governmental physicians, nurses and midwives per 1,00,000 population"
0,Target,70.0,11.0,100.0,0.00,549.96
1,India,130.0,50.0,62.0,138.33,220.96
2,A & N Islands,NaN,13.0,73.2,76.00,16.43
3,Andhra Pradesh,74.0,41.0,65.3,161.00,405.49
4,Arunachal Pradesh,NaN,33.0,38.2,203.00,126.81

In [16]:
goal3.shape

(38, 6)

In [17]:
goal3.insert(1, 'SDG', 3, allow_duplicates=False)

In [18]:
goal3.head()

,States_Uts,SDG,Maternal Mortality Ratio,"Under-five mortality rate per 1,000 live births","Children aged 12-23 months fully immunized (BCG, Measles and three doses of Pentavalent vaccine) (%)",Annual notification of Tuberculosis cases per 1 lakh population,"Number of governmental physicians, nurses and midwives per 1,00,000 population"
0,Target,3,70.0,11.0,100.0,0.00,549.96
1,India,3,130.0,50.0,62.0,138.33,220.96
2,A & N Islands,3,NaN,13.0,73.2,76.00,16.43
3,Andhra Pradesh,3,74.0,41.0,65.3,161.00,405.49
4,Arunachal Pradesh,3,NaN,33.0,38.2,203.00,126.81

In [19]:
goal3.shape

(38, 7)

In [20]:
## Goal1 + Goal2 + Goal3
goal123 = goal12.append(goal3, sort=False)

In [21]:
goal123.head(100)

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households","Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),"Rice, wheat and coarse cereals produced annually per unit area (Kg/Ha)",Maternal Mortality Ratio,"Under-five mortality rate per 1,000 live births","Children aged 12-23 months fully immunized (BCG, Measles and three doses of Pentavalent vaccine) (%)",Annual notification of Tuberculosis cases per 1 lakh population,"Number of governmental physicians, nurses and midwives per 1,00,000 population"
0,Target,1,10.95,100.0,100.00,100.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1,21.92,28.7,84.75,36.4,10.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Assam,1,31.98,10.4,87.10,66.1,3.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Bihar,1,33.74,12.3,75.63,53.9,3.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Chandigarh,1,21.81,21.3,NaN,13.7,19.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Chhattisgarh,1,39.93,68.5,77.25,66.2,15.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,D & N Haveli,1,39.31,30.8,NaN,2.6,24.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Daman and Diu,1,9.86,17.0,NaN,19.3,0.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Delhi,1,9.91,16.4,NaN,7.9,54.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Goa,1,5.09,15.9,98.15,7.4,1.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Gujarat,1,16.63,23.1,80.92,8.9,14.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Haryana,1,11.16,12.2,80.16,13.5,14.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Himachal Pradesh,1,8.06,25.8,91.12,13.1,9.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Jammu and Kashmir,1,10.35,4.2,88.79,54.0,12.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Jharkhand,1,36.96,13.3,70.34,41.6,4.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Karnataka,1,20.91,28.1,84.26,19.9,8.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Kerala,1,7.05,47.7,87.98,20.4,3.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Lakshadweep,1,2.77,3.4,56.13,17.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Madhya Pradesh,1,31.65,17.7,79.68,61.1,21.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Maharashtra,1,17.35,15.0,86.40,8.7,17.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Manipur,1,36.89,3.6,96.46,26.2,2.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Meghalaya,1,11.87,34.6,97.30,28.0,4.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mizoram,1,20.40,45.4,99.94,47.5,0.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Nagaland,1,18.88,6.1,98.91,29.7,3.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Odisha,1,32.59,47.7,84.76,72.6,7.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Puducherry,1,9.69,32.8,83.78,21.4,3.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Punjab,1,8.26,21.2,81.63,19.1,6.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Tamil Nadu,2,NaN,NaN,NaN,NaN,NaN,0.80,27.1,44.4,3788.49,NaN,NaN,NaN,NaN,NaN
33,Telangana,2,NaN,NaN,NaN,NaN,NaN,0.81,28.1,49.8,2879.65,NaN,NaN,NaN,NaN,NaN
34,Tripura,2,NaN,NaN,NaN,NaN,NaN,0.94,24.3,54.4,2921.10,NaN,NaN,NaN,NaN,NaN
35,Uttar Pradesh,2,NaN,NaN,NaN,NaN,NaN,1.11,46.3,51.0,2404.86,NaN,NaN,NaN,NaN,NaN
36,Uttarakhand,2,NaN,NaN,NaN,NaN,NaN,1.03,33.5,46.5,2185.58,NaN,NaN,NaN,NaN,NaN
37,West Bengal,2,NaN,NaN,NaN,NaN,NaN,0.90,32.5,53.6,2904.91,NaN,NaN,NaN,NaN,NaN
0,Target,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,11.0,100.0,0.00,549.96
1,India,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.0,50.0,62.0,138.33,220.96
2,A & N Islands,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,73.2,76.00,16.43
3,Andhra Pradesh,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,41.0,65.3,161.00,405.49
4,Arunachal Pradesh,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,38.2,203.00,126.81
5,Assam,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237.0,57.0,47.1,119.00,146.38
6,Bihar,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165.0,58.0,61.7,82.00,19.74
7,Chandigarh,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.5,523.00,10.45
8,Chhattisgarh,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.0,64.0,76.4,145.00,83.98
9,D & N Haveli,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,43.2,225.00,30.28
10,Daman and Diu,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,66.3,151.00,21.85
11,Delhi,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,66.4,360.00,343.82
12,Goa,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,88.4,128.00,42.32
13,Gujarat,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,43.0,50.4,224.00,228.86
14,Haryana,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,41.0,62.2,145.00,204.98
15,Himachal Pradesh,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,69.5,226.00,434.20
16,Jammu and Kashmir,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,75.1,74.00,29.80
17,Jharkhand,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165.0,54.0,61.9,118.00,28.04
18,Karnataka,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,32.0,62.6,123.00,452.93
19,Kerala,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,7.0,82.1,67.00,762.13
20,Lakshadweep,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,86.9,70.00,41.86
21,Madhya Pradesh,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.0,65.0,53.6,167.00,208.53
22,Maharashtra,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,29.0,56.3,159.00,148.41
23,Manipur,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,65.9,94.00,344.39

In [22]:
goal123.shape

(114, 16)

In [23]:
## Goal4
goal4= pd.read_csv('F:/Pykih/SDG Data/Goal 4.csv')

In [24]:
goal4.head()

,States_Uts,Adjusted Net Enrolment Ratio at Elementary (Class 1-8) and Secondary (Class 9-10) school (%),"Correct responses on Learning Outcomes in Language, Mathematics and EVS for Class 5 students (%)","Correct responses on Learning Outcomes in Language, Mathematics, Science and Social Science for Class 8 students (%)",Children in the age group of 6-13 who are out of school (%),Average Annual Drop-out rate at secondary level (%),School teachers professionally qualified (%),Elementary and secondary schools with Pupil Teacher Ratio less than/equal to 30 (%)
0,Target,100.00,67.89,57.17,0.28,10.00,100.00,100.00
1,India,75.83,54.69,44.58,2.97,17.06,81.15,70.43
2,A & N Islands,77.48,52.00,39.00,2.12,9.87,98.86,99.51
3,Andhra Pradesh,63.49,65.00,51.25,0.91,15.71,98.10,85.99
4,Arunachal Pradesh,79.02,41.67,36.75,2.92,17.11,51.07,88.87

In [25]:
goal4.shape

(38, 8)

In [26]:
goal4.insert(1, 'SDG', 4, allow_duplicates=False)

In [27]:
goal4.head()

,States_Uts,SDG,Adjusted Net Enrolment Ratio at Elementary (Class 1-8) and Secondary (Class 9-10) school (%),"Correct responses on Learning Outcomes in Language, Mathematics and EVS for Class 5 students (%)","Correct responses on Learning Outcomes in Language, Mathematics, Science and Social Science for Class 8 students (%)",Children in the age group of 6-13 who are out of school (%),Average Annual Drop-out rate at secondary level (%),School teachers professionally qualified (%),Elementary and secondary schools with Pupil Teacher Ratio less than/equal to 30 (%)
0,Target,4,100.00,67.89,57.17,0.28,10.00,100.00,100.00
1,India,4,75.83,54.69,44.58,2.97,17.06,81.15,70.43
2,A & N Islands,4,77.48,52.00,39.00,2.12,9.87,98.86,99.51
3,Andhra Pradesh,4,63.49,65.00,51.25,0.91,15.71,98.10,85.99
4,Arunachal Pradesh,4,79.02,41.67,36.75,2.92,17.11,51.07,88.87

In [28]:
## Goal1 + Goal2 + Goal3 + Goal4
goal1234 = goal123.append(goal4, sort=False)

In [29]:
goal1234.shape

(152, 23)

In [30]:
# Goal5
goal5 = pd.read_csv('F:/Pykih/SDG Data/Goal 5.csv')

In [31]:
goal5.head()

,States_Uts,Sex Ratio at Birth (female per 1000 male),Average female to male ratio of average wages/salaries received per day by regular wage/salaried employees of age 15-59 for rural and urban,Married women aged 15-49 who have ever experienced spousal violence (%),Seats won by women in the general elections to state legislative assembly (%),Ratio of Female Labour force participation rate to Male Labour force participation rate,Women in the age group of 15-49 years using modern methods of family planning (%)
0,Target,954.0,1.00,0.0,50.00,1.00,100.0
1,India,898.0,0.70,33.3,8.70,0.32,53.5
2,A & N Islands,NaN,1.00,19.6,NaN,0.41,50.8
3,Andhra Pradesh,913.0,0.73,45.2,9.14,0.60,69.5
4,Arunachal Pradesh,NaN,0.80,34.8,3.33,0.53,31.7

In [32]:
goal5.shape

(38, 7)

In [33]:
goal5.insert(1, 'SDG', 5, allow_duplicates=False)

In [34]:
goal5.head()

,States_Uts,SDG,Sex Ratio at Birth (female per 1000 male),Average female to male ratio of average wages/salaries received per day by regular wage/salaried employees of age 15-59 for rural and urban,Married women aged 15-49 who have ever experienced spousal violence (%),Seats won by women in the general elections to state legislative assembly (%),Ratio of Female Labour force participation rate to Male Labour force participation rate,Women in the age group of 15-49 years using modern methods of family planning (%)
0,Target,5,954.0,1.00,0.0,50.00,1.00,100.0
1,India,5,898.0,0.70,33.3,8.70,0.32,53.5
2,A & N Islands,5,NaN,1.00,19.6,NaN,0.41,50.8
3,Andhra Pradesh,5,913.0,0.73,45.2,9.14,0.60,69.5
4,Arunachal Pradesh,5,NaN,0.80,34.8,3.33,0.53,31.7

In [35]:
goal5.shape

(38, 8)

In [36]:
# Goal1 + Goal2 + Goal3 + Goal4 + Goal5
goal12345 = goal1234.append(goal5, sort=False)

In [37]:
goal12345.head()

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households","Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),...,Children in the age group of 6-13 who are out of school (%),Average Annual Drop-out rate at secondary level (%),School teachers professionally qualified (%),Elementary and secondary schools with Pupil Teacher Ratio less than/equal to 30 (%),Sex Ratio at Birth (female per 1000 male),Average female to male ratio of average wages/salaries received per day by regular wage/salaried employees of age 15-59 for rural and urban,Married women aged 15-49 who have ever experienced spousal violence (%),Seats won by women in the general elections to state legislative assembly (%),Ratio of Female Labour force participation rate to Male Labour force participation rate,Women in the age group of 15-49 years using modern methods of family planning (%)
0,Target,1,10.95,100.0,100.00,100.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1,21.92,28.7,84.75,36.4,10.39,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
goal12345.shape

(190, 29)

In [39]:
# Goal6
goal6 = pd.read_csv('F:/Pykih/SDG Data/Goal 6.csv')

In [40]:
goal6.head()

,States_Uts,Population having safe and adequate drinking water in rural areas (%),Rural households with individual household toilets (%),Districts verified to be Open Defecation Free (%),Installed sewage treatment capacity as a proportion of sewage created in urban areas (%),Annual ground water withdrawal against net annual availability (%)
0,Target,100.00,100.00,100.00,68.79,70.00
1,India,71.80,82.72,31.95,37.58,61.53
2,A & N Islands,88.70,100.00,0.00,NaN,0.98
3,Andhra Pradesh,62.84,99.21,30.77,8.61,43.83
4,Arunachal Pradesh,43.18,100.00,30.00,NaN,0.25

In [41]:
goal6.shape

(38, 6)

In [42]:
goal6.insert(1, 'SDG', 6, allow_duplicates=False)

In [43]:
goal6.head()

,States_Uts,SDG,Population having safe and adequate drinking water in rural areas (%),Rural households with individual household toilets (%),Districts verified to be Open Defecation Free (%),Installed sewage treatment capacity as a proportion of sewage created in urban areas (%),Annual ground water withdrawal against net annual availability (%)
0,Target,6,100.00,100.00,100.00,68.79,70.00
1,India,6,71.80,82.72,31.95,37.58,61.53
2,A & N Islands,6,88.70,100.00,0.00,NaN,0.98
3,Andhra Pradesh,6,62.84,99.21,30.77,8.61,43.83
4,Arunachal Pradesh,6,43.18,100.00,30.00,NaN,0.25

In [44]:
goal6.shape

(38, 7)

In [45]:
# Goal1 + Goal2 + Goal3 + Goal4 + Goal5 + Goal6
goal123456 = goal12345.append(goal6, sort=False)

In [46]:
goal123456.head()

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households","Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),...,Average female to male ratio of average wages/salaries received per day by regular wage/salaried employees of age 15-59 for rural and urban,Married women aged 15-49 who have ever experienced spousal violence (%),Seats won by women in the general elections to state legislative assembly (%),Ratio of Female Labour force participation rate to Male Labour force participation rate,Women in the age group of 15-49 years using modern methods of family planning (%),Population having safe and adequate drinking water in rural areas (%),Rural households with individual household toilets (%),Districts verified to be Open Defecation Free (%),Installed sewage treatment capacity as a proportion of sewage created in urban areas (%),Annual ground water withdrawal against net annual availability (%)
0,Target,1,10.95,100.0,100.00,100.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1,21.92,28.7,84.75,36.4,10.39,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
goal123456.shape

(228, 34)

In [48]:
# Goal7
goal7 = pd.read_csv('F:/Pykih/SDG Data/Goal 7.csv')

In [49]:
goal7.head()

,States_Uts,Households electrified (%),Households using Clean Cooking Fuel (%),Renewable share of installed generating capacity (%)
0,Target,100.00,100.0,40.00
1,India,94.57,43.8,17.51
2,A & N Islands,NaN,63.5,22.77
3,Andhra Pradesh,99.99,62.0,30.17
4,Arunachal Pradesh,75.78,45.0,100.00

In [50]:
goal7.shape

(38, 4)

In [51]:
goal7.insert(1, 'SDG', 7, allow_duplicates=False)

In [52]:
goal7.head()

,States_Uts,SDG,Households electrified (%),Households using Clean Cooking Fuel (%),Renewable share of installed generating capacity (%)
0,Target,7,100.00,100.0,40.00
1,India,7,94.57,43.8,17.51
2,A & N Islands,7,NaN,63.5,22.77
3,Andhra Pradesh,7,99.99,62.0,30.17
4,Arunachal Pradesh,7,75.78,45.0,100.00

In [53]:
goal7.shape

(38, 5)

In [54]:
# Goal1 + Goal2 + Goal3 + Goal4 + Goal5 + Goal6 + Goal7
goal1_7 = goal123456.append(goal7, sort=False)

In [55]:
goal1_7.head()

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households","Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),...,Ratio of Female Labour force participation rate to Male Labour force participation rate,Women in the age group of 15-49 years using modern methods of family planning (%),Population having safe and adequate drinking water in rural areas (%),Rural households with individual household toilets (%),Districts verified to be Open Defecation Free (%),Installed sewage treatment capacity as a proportion of sewage created in urban areas (%),Annual ground water withdrawal against net annual availability (%),Households electrified (%),Households using Clean Cooking Fuel (%),Renewable share of installed generating capacity (%)
0,Target,1,10.95,100.0,100.00,100.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1,21.92,28.7,84.75,36.4,10.39,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
goal1_7.shape

(266, 37)

In [57]:
# Goal8
goal8 = pd.read_csv('F:/Pykih/SDG Data/Goal 8.csv')

In [58]:
goal8.head()

,States_Uts,Annual growth rate of GDP per capita (at constant price of 2011-12),Average unemployment rate per 1000 persons for males and females,Households with a bank account (%),"Number of ATMs per 1,00,000 population"
0,Target,10.00,14.83,100.00,50.95
1,India,6.50,63.50,99.99,16.84
2,A & N Islands,7.06,189.50,100.00,25.03
3,Andhra Pradesh,10.35,39.50,100.00,22.37
4,Arunachal Pradesh,13.29,94.00,100.00,14.58

In [59]:
goal8.shape

(38, 5)

In [60]:
goal8.insert(1, 'SDG', 8, allow_duplicates=False)

In [61]:
goal8.head()

,States_Uts,SDG,Annual growth rate of GDP per capita (at constant price of 2011-12),Average unemployment rate per 1000 persons for males and females,Households with a bank account (%),"Number of ATMs per 1,00,000 population"
0,Target,8,10.00,14.83,100.00,50.95
1,India,8,6.50,63.50,99.99,16.84
2,A & N Islands,8,7.06,189.50,100.00,25.03
3,Andhra Pradesh,8,10.35,39.50,100.00,22.37
4,Arunachal Pradesh,8,13.29,94.00,100.00,14.58

In [62]:
# Goal1 + Goal2 + Goal3 + Goal4 + Goal5 + Goal6 + Goal7 + Goal8
goal1_8 = goal1_7.append(goal8, sort=False)

In [63]:
goal1_8.head()

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households","Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),...,Districts verified to be Open Defecation Free (%),Installed sewage treatment capacity as a proportion of sewage created in urban areas (%),Annual ground water withdrawal against net annual availability (%),Households electrified (%),Households using Clean Cooking Fuel (%),Renewable share of installed generating capacity (%),Annual growth rate of GDP per capita (at constant price of 2011-12),Average unemployment rate per 1000 persons for males and females,Households with a bank account (%),"Number of ATMs per 1,00,000 population"
0,Target,1,10.95,100.0,100.00,100.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1,21.92,28.7,84.75,36.4,10.39,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
goal1_8.shape

(304, 41)

In [65]:
# Goal9
goal9 = pd.read_csv('F:/Pykih/SDG Data/Goal 9.csv')

In [66]:
goal9.head()

,States_Uts,Targeted habitations connected by all-weather roads under Pradhan Mantri Gram Sadak Yojana (%),Number of mobile connections per 100 persons in rural and urban area (Mobile Tele density),Number of Internet Subscribers per 100 population,Gram Panchayats covered under Bharat Net (%)
0,Target,100.00,100.00,100.00,100.00
1,India,47.38,82.97,33.47,42.43
2,A & N Islands,NaN,NaN,NaN,0.00
3,Andhra Pradesh,18.00,90.92,37.21,0.00
4,Arunachal Pradesh,32.00,NaN,NaN,0.78

In [67]:
goal9.shape

(38, 5)

In [68]:
goal9.insert(1, 'SDG', 9, allow_duplicates=False)

In [69]:
goal9.head()

,States_Uts,SDG,Targeted habitations connected by all-weather roads under Pradhan Mantri Gram Sadak Yojana (%),Number of mobile connections per 100 persons in rural and urban area (Mobile Tele density),Number of Internet Subscribers per 100 population,Gram Panchayats covered under Bharat Net (%)
0,Target,9,100.00,100.00,100.00,100.00
1,India,9,47.38,82.97,33.47,42.43
2,A & N Islands,9,NaN,NaN,NaN,0.00
3,Andhra Pradesh,9,18.00,90.92,37.21,0.00
4,Arunachal Pradesh,9,32.00,NaN,NaN,0.78

In [70]:
goal9.shape

(38, 6)

In [71]:
# Goal1 + Goal2 + Goal3 + Goal4 + Goal5 + Goal6 + Goal7 + Goal8 + Goal9
goal1_9 = goal1_8.append(goal9, sort=False)

In [72]:
goal1_9.shape

(342, 45)

In [73]:
# Goal10
goal10 = pd.read_csv('F:/Pykih/SDG Data/Goal 10.csv')

In [74]:
goal10.head()

,States_Uts,Palma Ratio of Household Expenditure in Urban India,Palma Ratio of Household Expenditure in Rural India,Ratio of Transgender Labour force participation rate to Male Labour force participation rate,Scheduled Caste Sub Plan fund utilised (%),Tribal Sub Plan fund utilised (%)
0,Target,1.00,1.00,1.00,100.00,100.00
1,India,1.41,0.92,0.64,77.67,82.98
2,A & N Islands,1.76,0.98,NaN,NaN,155.40
3,Andhra Pradesh,1.06,0.73,0.99,57.08,60.42
4,Arunachal Pradesh,1.49,1.34,1.39,NaN,NaN

In [75]:
goal10.shape

(38, 6)

In [76]:
goal10.insert(1, 'SDG', 10, allow_duplicates=False)

In [77]:
goal10.shape

(38, 7)

In [78]:
goal10.head()

,States_Uts,SDG,Palma Ratio of Household Expenditure in Urban India,Palma Ratio of Household Expenditure in Rural India,Ratio of Transgender Labour force participation rate to Male Labour force participation rate,Scheduled Caste Sub Plan fund utilised (%),Tribal Sub Plan fund utilised (%)
0,Target,10,1.00,1.00,1.00,100.00,100.00
1,India,10,1.41,0.92,0.64,77.67,82.98
2,A & N Islands,10,1.76,0.98,NaN,NaN,155.40
3,Andhra Pradesh,10,1.06,0.73,0.99,57.08,60.42
4,Arunachal Pradesh,10,1.49,1.34,1.39,NaN,NaN

In [79]:
# Goal1 + Goal2 + Goal3 + Goal4 + Goal5 + Goal6 + Goal7 + Goal8 + Goal9 + Goal10
goal1_10 = goal1_9.append(goal10, sort=False)

In [80]:
goal1_10.head()

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households","Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),...,"Number of ATMs per 1,00,000 population",Targeted habitations connected by all-weather roads under Pradhan Mantri Gram Sadak Yojana (%),Number of mobile connections per 100 persons in rural and urban area (Mobile Tele density),Number of Internet Subscribers per 100 population,Gram Panchayats covered under Bharat Net (%),Palma Ratio of Household Expenditure in Urban India,Palma Ratio of Household Expenditure in Rural India,Ratio of Transgender Labour force participation rate to Male Labour force participation rate,Scheduled Caste Sub Plan fund utilised (%),Tribal Sub Plan fund utilised (%)
0,Target,1,10.95,100.0,100.00,100.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1,21.92,28.7,84.75,36.4,10.39,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
goal1_10.shape

(380, 50)

In [82]:
# Goal11
goal11 = pd.read_csv('F:/Pykih/SDG Data/Goal 11.csv')

In [83]:
goal11.head()

,States_Uts,Houses completed under PMAY as a percentage of net demand assessment for houses,Urban households living in slums (%),Wards with 100% door to door waste collection (%),Waste processed (%)
0,Target,100.00,0.00,100.00,100.0
1,India,3.32,5.41,73.58,24.8
2,A & N Islands,NaN,3.72,100.00,23.0
3,Andhra Pradesh,2.48,12.04,95.83,7.0
4,Arunachal Pradesh,0.17,1.12,84.00,0.0

In [84]:
goal11.shape

(38, 5)

In [85]:
goal11.insert(1, 'SDG', 11, allow_duplicates=False)

In [86]:
goal11.head()

,States_Uts,SDG,Houses completed under PMAY as a percentage of net demand assessment for houses,Urban households living in slums (%),Wards with 100% door to door waste collection (%),Waste processed (%)
0,Target,11,100.00,0.00,100.00,100.0
1,India,11,3.32,5.41,73.58,24.8
2,A & N Islands,11,NaN,3.72,100.00,23.0
3,Andhra Pradesh,11,2.48,12.04,95.83,7.0
4,Arunachal Pradesh,11,0.17,1.12,84.00,0.0

In [87]:
goal11.shape

(38, 6)

In [88]:
# Goal1 + Goal2 + Goal3 + Goal4 + Goal5 + Goal6 + Goal7 + Goal8 + Goal9 + Goal10 + Goal11
goal1_11 = goal1_10.append(goal11, sort=False)

In [89]:
goal1_11.head()

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households","Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),...,Gram Panchayats covered under Bharat Net (%),Palma Ratio of Household Expenditure in Urban India,Palma Ratio of Household Expenditure in Rural India,Ratio of Transgender Labour force participation rate to Male Labour force participation rate,Scheduled Caste Sub Plan fund utilised (%),Tribal Sub Plan fund utilised (%),Houses completed under PMAY as a percentage of net demand assessment for houses,Urban households living in slums (%),Wards with 100% door to door waste collection (%),Waste processed (%)
0,Target,1,10.95,100.0,100.00,100.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1,21.92,28.7,84.75,36.4,10.39,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
goal1_11.shape

(418, 54)

In [91]:
# Goal15
goal15 = pd.read_csv('F:/Pykih/SDG Data/Goal 15.csv')

In [92]:
goal15.head()

,States_Uts,Total land area covered under forest (%),Decadal change in extent of water bodies within forests from 2005 to 2015 (%),Change in forest area from 2015 to 2017 (%),Change in estimated population of wild elephants over 5-year period (%)
0,Target,33.00,0.00,0.00,0
1,India,21.54,18.24,0.21,19.52813958
2,A & N Islands,81.73,-15.14,-0.11,Null
3,Andhra Pradesh,17.27,50.64,1.31,58.53658537
4,Arunachal Pradesh,79.96,-33.51,-0.23,81.34831461

In [93]:
goal15.shape

(38, 5)

In [94]:
goal15.insert(1, 'SDG', 15, allow_duplicates=False)

In [95]:
goal15.head()

,States_Uts,SDG,Total land area covered under forest (%),Decadal change in extent of water bodies within forests from 2005 to 2015 (%),Change in forest area from 2015 to 2017 (%),Change in estimated population of wild elephants over 5-year period (%)
0,Target,15,33.00,0.00,0.00,0
1,India,15,21.54,18.24,0.21,19.52813958
2,A & N Islands,15,81.73,-15.14,-0.11,Null
3,Andhra Pradesh,15,17.27,50.64,1.31,58.53658537
4,Arunachal Pradesh,15,79.96,-33.51,-0.23,81.34831461

In [96]:
goal15.shape

(38, 6)

In [97]:
# Goal1 + Goal2 + Goal3 + Goal4 + Goal5 + Goal6 + Goal7 + Goal8 + Goal9 + Goal10 + Goal11 + Goal15
goal1_15 = goal1_11.append(goal15, sort=False)

In [98]:
goal1_15.head()

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households","Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),...,Scheduled Caste Sub Plan fund utilised (%),Tribal Sub Plan fund utilised (%),Houses completed under PMAY as a percentage of net demand assessment for houses,Urban households living in slums (%),Wards with 100% door to door waste collection (%),Waste processed (%),Total land area covered under forest (%),Decadal change in extent of water bodies within forests from 2005 to 2015 (%),Change in forest area from 2015 to 2017 (%),Change in estimated population of wild elephants over 5-year period (%)
0,Target,1,10.95,100.0,100.00,100.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1,21.92,28.7,84.75,36.4,10.39,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
goal1_15.shape

(456, 58)

In [100]:
# Goal16
goal16 = pd.read_csv('F:/Pykih/SDG Data/Goal 16.csv')

In [101]:
goal16.head()

,States_Uts,Reported murders per 1 lakh population,Reported cognizable crimes against children per 1 lakh population,Estimated number of courts per 10 Lakh persons,Estimated reported corruption crimes per 1 crore population,Births registered (%),Population covered under Aadhaar (%)
0,Target,1.2,0.0,33.76,17.00,100.0,100.0
1,India,2.4,24.0,12.83,34.01,88.3,89.5
2,A & N Islands,2.5,61.4,28.05,0.30,79.3,95.0
3,Andhra Pradesh,2.2,11.8,31.40,18.11,98.4,92.5
4,Arunachal Pradesh,3.5,28.3,NaN,87.80,100.0,76.9

In [102]:
goal16.insert(1, 'SDG', 16, allow_duplicates=False)

In [103]:
goal16.shape

(38, 8)

In [104]:
# Goal1 + Goal2 + Goal3 + Goal4 + Goal5 + Goal6 + Goal7 + Goal8 + Goal9 + Goal10 + Goal11 + Goal15 + Goal16
goal1_16 = goal1_15.append(goal16, sort=False)

In [105]:
goal1_16.head()

,States_Uts,SDG,Population living below National Poverty line (%),Households with any usual member covered by any health scheme or health insurance (%),Persons provided employment as a percentage of persons who demanded employment under MGNREGA (%),Proportion of the population (out of total eligible population) receiving social protection benefits under Maternity Benefit,"Number of homeless households per 10,000 households","Ratio of rural households covered under public distribution system to rural households where monthly income of highest earning member is less than Rs.5,000",Children under age 5 years who are stunted (%),Pregnant women aged 15-49 yrs who are anaemic (11.0g/dl) (%),...,Total land area covered under forest (%),Decadal change in extent of water bodies within forests from 2005 to 2015 (%),Change in forest area from 2015 to 2017 (%),Change in estimated population of wild elephants over 5-year period (%),Reported murders per 1 lakh population,Reported cognizable crimes against children per 1 lakh population,Estimated number of courts per 10 Lakh persons,Estimated reported corruption crimes per 1 crore population,Births registered (%),Population covered under Aadhaar (%)
0,Target,1,10.95,100.0,100.00,100.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1,21.92,28.7,84.75,36.4,10.39,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A & N Islands,1,1.00,5.7,92.46,1.4,0.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,1,9.20,74.6,87.77,17.4,15.34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arunachal Pradesh,1,34.67,58.3,85.56,20.5,0.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
goal1_16.shape

(494, 64)

In [107]:
goal1_16.to_csv('SDG India Index with goal.csv', index =False)

In [108]:
# convert csv to xlsx file
"""writer = pd.ExcelWriter('SDG India Index with goal.xlsx')
goal1_16.to_excel(writer, index = False)
writer.save()"""

"writer = pd.ExcelWriter('SDG India Index with goal.xlsx')\ngoal1_16.to_excel(writer, index = False)\nwriter.save()"